<!DOCTYPE html>
<html>
<head>
    <title>White Board</title>
    <link rel="stylesheet" href="/css/drawing-board.css">
    
</head>
<body>
    <canvas id="drawing"></canvas>
    <button onclick="clearCanvas()">Clear</button>
    <button onclick="blackStroke()" style="background-color: black;"></button>
    <button onclick="redStroke()" style="background-color: red;"></button>
    <script src="socket.io/socket.io.js"></script>
    <script src="/js/drawing-board.js"></script>
</body>
</html>