<!DOCTYPE html>
<html>

<head>
    <title>White Board</title>
    <link rel="stylesheet" href="/css/drawing-board.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/pointer/pointer.css" rel="stylesheet">
    <script src="/pointer/pointer.js"></script>
</head>

<body>
    <% if(locals.roomId){ %>
        <p id="room_id">
            <%= roomId %>
        </p>
        <% } %>

            <div id="canvasDiv">
                <canvas id="drawing"></canvas>
            </div>
            <button onclick="clearCanvas()">Clear</button>
            <label for="brushColor">Select your favorite color:</label>
            <input type="color" id="brushColor" name="brushColor" value="#ff0000">
            <button onclick="toggleEraser()" id="eraser"><i class="fas fa-eraser"></i></button>

            <label for="strokeWidth">Stroke Width</label>
            <input type="range" id="strokeWidth" name="strokeWidth" min="1" max="20">
            <script src="socket.io/socket.io.js"></script>
            <script src="/js/drawing-board.js"></script>
</body>

</html>