* { 
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

#drawing {
    display: block;
    border: solid 5px black;
    cursor: url('/images/cursor.png'), auto;	
}

button {
    width: 4rem; 
    height: 1.5rem;
    margin: 1rem;
}

button:hover {
    cursor: pointer;
}